.nav {
  width: 100%;
  padding: 2rem;
  
  background-color: black;
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-bottom: 45px;
}

.nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.center {
  margin-left: 25%;
}

.right {
  margin-left: 23%;
}
