.footer {
  width: 100%;
  padding: 1rem;
  background-color: black;
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}

.ionimage {
  margin: 0;
  padding: 0;
}

.ion {
  width: 32px;
  height: 32px;
}
